<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Assignment Submission</title>
  
  
    <style>
      body{
        background-color: #efefef !important;
      }
      .container-fluid{
        height: 66.66px;
        background-color: #8A0000;
      }
      h3{
        margin: 10px 0;
      }
      h2{
        color: white;
        line-height: 66.66px;
      }
      .content{
        margin-top: 50px;
      }
      label{
        color: black;
        font-weight: 600;
      }
      .btn{
        background-color: #8A0000;
        color: white;
        width: 200px;
      }

    </style>
  </head>
  <body>
 
    <div class="container-fluid">
      <div class="container header">
        <h2>Portal</h2>
      </div>  
    </div>

    <div class="container content">

      <h3>Assignment Submission</h3>
      <p>Submit your Assignment Here</p>

      <form  action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="{{form.file_name.id_for_label}}">Roll No:</label>
          <input type="text" name="file_name" class="form-control" placeholder="Enter your Roll No" required id="id_file_name">   
        </div>

        <div class="form-group">
          <label for="{{form.files_data.id_for_label}}">Upload Assignment:</label>
          {{form.files_data}}         
        </div>
        {% csrf_token %}
        
        
        <button type="submit" class="btn">Submit</button>
      </form>

      <div class="mt-2">
        {% for message in messages %}
          <h3> {{message}} </h3>
        {% endfor %}
      </div>

    </div>
    














    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
