<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">

                <table class="table">
                    <thead>
                      <tr>
                        <th >S/N</th>
                        <th >Name</th>
                        <th >File Link</th>
                        <th ></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for d in data %}
                      <tr>
                        <th>{{forloop.counter}}</th>
                        <th>{{d.file_name}}</th>
                        <th><a  href="{{d.my_file.url}}">{{d.my_file}}</a></th>

                        
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>



            </div>
        </div>
    </div>




</body>

</html>